<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <style>
        .userListTb {
            margin: 0 auto;
            width: 500px;
            text-align: center;
        }

        .addBar {
            width: 500px;
            margin: 0 auto;
        }

        .addBtn {
            margin-top: 10px;
        }

        .pwdText {
            background: none;
            border: 0;
        }
    </style>
</head>
<body>
<script type="text/x-handlebars-template" id="listTemplate">
    <table border="1" id="userListTb" class="userListTb table table-bordered">
        <thead>
        <tr>
            <th>用户名</th>
            <th>密码</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <%  for (let i = 0; i < data.length; i++) {%>
        <tr>
            <td><%=data[i].userName%></td>
            <td><input type="text" value="<%=data[i].password%>" disabled class="pwdText"></td>
            <td>
                <div class="btn-group">
                    <button class="deleteBtn btn btn-default" id="<%=data[i].id%>">删除</button>
                    <button class="updateBtn btn btn-default" id="<%=data[i].id%>">修改</button>
                </div>
            </td>
        </tr>
        <% }%>
        </tbody>
    </table>
</script>
<div id="tableBox"></div>
<div class="addBar">
    <button class="addBtn btn btn-primary" id="addBtn">新增</button>
    <br>
    <div class="addContent">
        用户名：<input type="text" id="newUser"><br>
        密&nbsp;&nbsp;&nbsp;码：<input type="password" id="newPwd"><br>
        <button id="submit" class="submit btn btn-default">提交</button>
    </div>

</div>
<script src="./js/ejs.min.js"></script>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/userList.js"></script>
</body>
</html>